/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



/* Зменште розмір стрілки у dropdown SlimSelect */
.slim-select .ss-arrow,
.slim-select .ss-arrow-active {
  font-size: 12px; /* Змініть розмір за необхідністю */
}

/* Збільште зазор між dropdown і сумісним елементом */
.slim-select .ss-dropdown {
  margin-top: 10px;
}

/* Збільште зазор між текстом і стрілкою */
.slim-select .ss-selected,
.slim-select .ss-search,
.slim-select .ss-search input {
  padding-right: 20px; /* Змініть розмір за необхідністю */
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.information {
  text-align: center;
}

.wrapper {
  display: flex;
  column-gap: 30px;
}

.cat-image {
  display: block;
  width: 400px;
}
